In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras import Model
import csv
import matplotlib.pyplot as plt
import json
import cv2
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import zipfile
zip_path = '/content/drive/My Drive/SF/Flight Data/2016_original.zip'
zip_ref = zipfile.ZipFile(zip_path, 'r')
zip_ref.extractall("/content/drive/My Drive/SF/")
zip_ref.close()

In [ ]:
import zipfile
zip_path = '/content/drive/My Drive/SF/Flight Data/2017_original.zip'
zip_ref = zipfile.ZipFile(zip_path, 'r')
zip_ref.extractall("/content/drive/My Drive/SF/")
zip_ref.close()

## **Flight Data**

In [3]:
base_path = '/content/drive/My Drive/SF/2016/On_Time_On_Time_Performance_2016_'
base_dir = 'On_Time_On_Time_Performance_2016_'
df_2016 = pd.DataFrame()
cols = ['FlightDate', 'Quarter', 'Year', 'Month', 'DayofMonth', 'DepTime', 'DepDel15', 'CRSDepTime', 'DepDelayMinutes', 'OriginAirportID', 'DestAirportID', 'ArrTime', 'CRSArrTime', 'ArrDel15', 'ArrDelayMinutes']
for i in range(1, 13):
    dir_path = base_path + str(i)
    file_path = base_dir + str(i) + '.csv'
    path = os.path.join(dir_path, file_path)
    new_df = pd.read_csv(path)
    new_df = new_df[cols]
    df_2016 = pd.concat([df_2016, new_df])

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (77) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (77,84) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (48,77,84) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (48,77,84,85) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (48,69,76,77,84) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_2016

        FlightDate  Quarter  Year  ...  CRSArrTime  ArrDel15  ArrDelayMinutes
0       2016-01-06        1  2016  ...        1438       0.0              0.0
1       2016-01-07        1  2016  ...        1438       0.0              0.0
2       2016-01-08        1  2016  ...        1438       0.0              7.0
3       2016-01-09        1  2016  ...        1438       0.0              0.0
4       2016-01-10        1  2016  ...        1438       1.0            113.0
...            ...      ...   ...  ...         ...       ...              ...
460944  2016-12-30        4  2016  ...         716       0.0              0.0
460945  2016-12-30        4  2016  ...        1446       0.0              3.0
460946  2016-12-30        4  2016  ...        1845       0.0              0.0
460947  2016-12-30        4  2016  ...        1302       0.0              0.0
460948  2016-12-30        4  2016  ...        1538       0.0              0.0

[5617658 rows x 15 columns]

In [4]:
base_path = '/content/drive/My Drive/SF/2017/On_Time_On_Time_Performance_2017_'
base_dir = 'On_Time_On_Time_Performance_2017_'
df_2017 = pd.DataFrame()
cols = ['FlightDate', 'Quarter', 'Year', 'Month', 'DayofMonth', 'DepTime', 'DepDel15', 'CRSDepTime', 'DepDelayMinutes', 'OriginAirportID', 'DestAirportID', 'ArrTime', 'CRSArrTime', 'ArrDel15', 'ArrDelayMinutes']
for i in range(1, 13):
    dir_path = base_path + str(i)
    file_path = base_dir + str(i) + '.csv'
    path = os.path.join(dir_path, file_path)
    new_df = pd.read_csv(path)
    new_df = new_df[cols]
    df_2017 = pd.concat([df_2017, new_df])

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (48,77,84) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (48,77) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (77,84) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df_2017

        FlightDate  Quarter  Year  ...  CRSArrTime  ArrDel15  ArrDelayMinutes
0       2017-01-17        1  2017  ...        1856       0.0              0.0
1       2017-01-18        1  2017  ...        1856       0.0              0.0
2       2017-01-19        1  2017  ...        1856       0.0              0.0
3       2017-01-20        1  2017  ...        1856       1.0             33.0
4       2017-01-21        1  2017  ...        1856       0.0              2.0
...            ...      ...   ...  ...         ...       ...              ...
464200  2017-12-17        4  2017  ...        2054       0.0              0.0
464201  2017-12-17        4  2017  ...        1747       0.0              0.0
464202  2017-12-17        4  2017  ...         927       0.0              0.0
464203  2017-12-17        4  2017  ...        1245       0.0              0.0
464204  2017-12-17        4  2017  ...        2135       0.0              0.0

[5674621 rows x 15 columns]

In [5]:
flights_data = pd.concat([df_2016, df_2017])

In [6]:
flights_data.drop_duplicates(keep = False, inplace = True)

In [7]:
flights_data['RoundDepTime'] = flights_data.apply(lambda x: x.DepTime - (x.DepTime % 100), axis = 1)

In [8]:
flights_data

        FlightDate  Quarter  Year  ...  ArrDel15  ArrDelayMinutes  RoundDepTime
0       2016-01-06        1  2016  ...       0.0              0.0        1000.0
1       2016-01-07        1  2016  ...       0.0              0.0        1000.0
2       2016-01-08        1  2016  ...       0.0              7.0        1000.0
3       2016-01-09        1  2016  ...       0.0              0.0        1100.0
4       2016-01-10        1  2016  ...       1.0            113.0        1200.0
...            ...      ...   ...  ...       ...              ...           ...
464200  2017-12-17        4  2017  ...       0.0              0.0        1900.0
464201  2017-12-17        4  2017  ...       0.0              0.0        1600.0
464202  2017-12-17        4  2017  ...       0.0              0.0         700.0
464203  2017-12-17        4  2017  ...       0.0              0.0        1000.0
464204  2017-12-17        4  2017  ...       0.0              0.0        2000.0

[11292205 rows x 16 columns]

In [11]:
flights_data.to_csv("flight_data.csv", index = False)

## **Key Data**

In [8]:
airports = ['ATL', 'CLT', 'DEN', 'DFW', 'EWR', 'IAH', 'JFK', 'LAS', 'LAX', 'MCO', 'MIA', 'ORD', 'PHX', 'SEA', 'SFO']

In [9]:
f = pd.read_csv('/content/drive/My Drive/SF/2016/On_Time_On_Time_Performance_2016_1/On_Time_On_Time_Performance_2016_1.csv')
keys = f.Dest.unique()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (77) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
ID_dict = {}
for base in airports:
    if base in keys:
        ixs = f[f['Dest'] == base].index.tolist()
        ID_dict[base] = f.iloc[ixs[0]]['DestAirportID']

In [11]:
ID_list = []
for i in ID_dict.keys():
    ID_list.append(ID_dict[i])

## **Weather Data**

In [12]:
meta = ['mintempC', 'maxtempF', 'sunHour', 'mintempF', 'maxtempC','totalSnow_cm', 'date', 'uvIndex']

In [13]:
base_path = "/content/drive/My Drive/SF/weather"

In [14]:
cols = ['windspeedKmph', 'winddirDegree', 'weatherCode', 'precipMM', 'visibility', 'pressure', 'cloudcover', 'DewPointF', 'WindGustKmph', 'tempF', 'WindChillF', 'humidity', 'date', 'time']

In [15]:
weather_data = pd.DataFrame()

In [16]:
for dir in airports:
    dir_df = pd.DataFrame()
    for i in range(1, 13):
        dir_path = os.path.join(base_path, dir)
        file_path = '2016-' + str(i) + '.json' 
        path = os.path.join(dir_path, file_path)
        file = open(path, "r+")
        new_data = json.load(file)
        df = pd.DataFrame(new_data)
        hourly_data = pd.json_normalize(data = df['data']['weather'], record_path = 'hourly', meta = meta)
        astronomy_data = pd.json_normalize(data = df['data']['weather'], record_path = 'astronomy', meta = meta)
        new_df = pd.merge(hourly_data, astronomy_data, on = meta)
        new_df = new_df[cols]
        dir_df = pd.concat([dir_df, new_df])
    for i in range(1, 13):
        dir_path = os.path.join(base_path, dir)
        file_path = '2017-' + str(i) + '.json' 
        path = os.path.join(dir_path, file_path)
        file = open(path, "r+")
        new_data = json.load(file)
        df = pd.DataFrame(new_data)
        hourly_data = pd.json_normalize(data = df['data']['weather'], record_path = 'hourly', meta = meta)
        astronomy_data = pd.json_normalize(data = df['data']['weather'], record_path = 'astronomy', meta = meta)
        new_df = pd.merge(hourly_data, astronomy_data, on = meta)
        new_df = new_df[cols]
        dir_df = pd.concat([dir_df, new_df])
    dir_df['airport'] = ID_dict[dir]
    weather_data = pd.concat([weather_data, dir_df])

In [27]:
weather_data['time']

0         0
1       100
2       200
3       300
4       400
       ...
739    1900
740    2000
741    2100
742    2200
743    2300
Name: time, Length: 263160, dtype: object

In [20]:
weather_data.to_csv("weather_data.csv", index = False)

In [17]:
weather_data['time'] = weather_data['time'].astype('float64')

In [24]:
weather_data['time']

0         0.0
1       100.0
2       200.0
3       300.0
4       400.0
        ...
739    1900.0
740    2000.0
741    2100.0
742    2200.0
743    2300.0
Name: time, Length: 263160, dtype: float64

## **Combining Data**

In [21]:
flights_data = pd.read_csv('/content/flight_data.csv')
weather_data = pd.read_csv('/content/weather_data.csv')

In [25]:
flights_data.isnull()
weather_data.isnull()

        windspeedKmph  winddirDegree  weatherCode  ...   date   time  airport
0               False          False        False  ...  False  False    False
1               False          False        False  ...  False  False    False
2               False          False        False  ...  False  False    False
3               False          False        False  ...  False  False    False
4               False          False        False  ...  False  False    False
...               ...            ...          ...  ...    ...    ...      ...
263155          False          False        False  ...  False  False    False
263156          False          False        False  ...  False  False    False
263157          False          False        False  ...  False  False    False
263158          False          False        False  ...  False  False    False
263159          False          False        False  ...  False  False    False

[263160 rows x 15 columns]

In [18]:
f_df = pd.DataFrame()
for i in ID_list:
    f_df = pd.concat([f_df, flights_data[flights_data['OriginAirportID'] == i]])

In [24]:
new_f_df = pd.DataFrame()
for i in ID_list:
    new_f_df = pd.concat([new_f_df, f_df[f_df['DestAirportID'] == i]])

In [25]:
new_f_df

        FlightDate  Quarter  Year  ...  ArrDel15  ArrDelayMinutes  RoundDepTime
35643   2016-01-01        1  2016  ...       0.0              0.0         900.0
35735   2016-01-01        1  2016  ...       0.0              3.0        1500.0
35896   2016-01-01        1  2016  ...       0.0              0.0        2000.0
35904   2016-01-01        1  2016  ...       0.0              0.0        1300.0
37349   2016-01-02        1  2016  ...       0.0              8.0         800.0
...            ...      ...   ...  ...       ...              ...           ...
463171  2017-12-17        4  2017  ...       0.0              0.0        1200.0
463231  2017-12-17        4  2017  ...       0.0              0.0         800.0
463362  2017-12-17        4  2017  ...       0.0              0.0         600.0
463616  2017-12-17        4  2017  ...       0.0              0.0        1900.0
464148  2017-12-17        4  2017  ...       0.0              0.0        1800.0

[3754548 rows x 16 columns]

In [26]:
flights_df = pd.merge(new_f_df, weather_data, left_on = ['OriginAirportID', 'FlightDate', 'RoundDepTime'], right_on = ['airport', 'date', 'time'], how = 'inner')

In [28]:
flights_df.drop(['RoundDepTime'], axis = 1, inplace = True)

In [29]:
flights_df.drop_duplicates(inplace = True)

In [30]:
flights_df

         FlightDate  Quarter  Year  Month  ...  humidity        date    time  airport
0        2016-01-01        1  2016      1  ...        90  2016-01-01   900.0    11057
2        2016-01-01        1  2016      1  ...        90  2016-01-01   900.0    11057
4        2016-01-01        1  2016      1  ...        90  2016-01-01   900.0    11057
6        2016-01-01        1  2016      1  ...        90  2016-01-01   900.0    11057
7        2016-01-01        1  2016      1  ...        90  2016-01-01   900.0    11057
...             ...      ...   ...    ...  ...       ...         ...     ...      ...
3711966  2017-10-30        4  2017     10  ...        43  2017-10-30  1600.0    14747
3711968  2017-10-23        4  2017     10  ...        61  2017-10-23  1600.0    14747
3711969  2017-10-23        4  2017     10  ...        61  2017-10-23  1600.0    14747
3711972  2017-11-18        4  2017     11  ...        72  2017-11-18  1400.0    14747
3711974  2017-12-24        4  2017     12  ...        74  2017-12-24  1400.0    14747

[1855988 rows x 30 columns]

In [34]:
flights_df.to_csv("/content/drive/My Drive/SF/flights_df.csv", index = False)

In [35]:
new_f_df.to_csv("/content/drive/My Drive/SF/flight_data.csv", index = False)

In [36]:
weather_data.to_csv("/content/drive/My Drive/SF/weather_data.csv", index = False)